<%- include("templates/header.ejs", {titulo: "Contactos"}) %>
    <div class="alert alert-succes">Nombre: <%= nombre %></div>
    <div class="alert alert-succes">Edad: <%= edad %></div>
<%- include("templates/footer.ejs") %>