<%- include("templates/header.ejs") %>
 
 <div class="alert alert-primary">Nombre<%= Nombre%> </div>
 <div class="alert alert-success">Edad<%= Edad%> </div>

<%- include("templates/footer.ejs") %>